<div class="rating rating-md rating-half" id="average_rating">
<input type="radio" name="rating-10" class="rating-hidden" />
    <% (1..5).each do |i| %>
        <input type="radio" name="rating-10" class="bg-yellow-400 mask mask-star-2 mask-half-1" <%= 'checked' if @average_rating >= (i - 0.5) && @average_rating < i %> />
        <input type="radio" name="rating-10" class="bg-yellow-400 mask mask-star-2 mask-half-2" <%= 'checked' if @average_rating >= i %> />
    <% end %>
<span class="text-sm font-semibold text-secondary" ><%= @average_rating.round(2) %></span>
</div>