<% if user_signed_in? %>
    <div class='mx-auto'>
        <% if current_user.bookmark?(spot) %>
            <%= render 'unbookmark', { spot: spot } %>
        <% else %>
            <%= render 'bookmark', { spot: spot } %>
        <% end %>
    </div>
<% else %>
<div class='mx-auto'>
    <button data-action="click->login-modal#openModal" class= "inline-flex flex-col items-center justify-center px-2 rounded-full group">
        <i class="ph-fill ph-heart fa-lg w-5 h-4 mt-2 text-gray-400"></i>
    <span class="text-[10px] text-secondary dark:text-gray-400 group-hover:text-neutral"><%= spot.spot_bookmarks.count %></span>
    </button>
</div>
    <%= render 'shared/login_modal' %>
<% end %>