<h2 class="my-3 text-xl font-zenmaru font-bold text-neutral border-bottom">口コミ一覧</h2>
<div class="mx-auto flex w-1/2 flex-col items-center gap-2.5 justify-center w-3/5">
    <%= image_tag("936.png", class: "h-full md:h-64 md:w-56 flex items-center justify-center") %>
    <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral text-sm md:text-lg"> <i class="ph ph-empty fa-lg"></i>  まだ口コミがありません</h3>
    <p class="text-sm flex items-center justify-center w-full text-secondary">口コミを投稿してさらに猫スポットを楽しもう！</p>
</div>