<button data-action="click->sidebar#toggle" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-white bg:accent rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
   <span class="sr-only"><i class="ph-bold ph-list-dashes"></i> リスト</span>
</button>

<aside id="default-sidebar" data-sidebar-target="sidebar" class="md:mt-16 fixed top-0 md:top-15 left-0 w-full md:w-64 md:min-w-64 h-screen transition-transform -translate-x-full md:translate-x-0 z-40" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-white md:border-r-4 md:border-primary md:border-double">
     <%= render "spots/list" %>
   </div>
</aside>