<button data-action="click->sidebar#toggle" aria-controls="default-sidebar" type="button" class="fixed bottom-52 md:bottom-36 right-6 md:right-12 rounded-full w-14 py-7 text-primary text-center hover:bg-secondary hover:drop-shadow-none z-50">
<span class="sr-only"><i class="ph-bold ph-list-dashes"></i> リスト</span>  
</button>


<aside id="default-sidebar" data-sidebar-target="sidebar" class="md:mt-16 fixed top-0 md:top-15 left-0 w-full md:w-64 md:min-w-64 h-screen transition-transform -translate-x-full md:translate-x-0 z-40" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-white md:border-r-4 md:border-primary md:border-double">
     <%= render "spots/list" %>
   </div>
</aside>

