<button class="md:hidden fixed buttom-8 bg-white right-4 btn w-12 h-9 border-none rounded-full items-center" onclick="my_modal_2.showModal()"><i class="ph-bold ph-question fa-2xl text-primary-hover"></i></button>
<dialog id="my_modal_2" class="modal">
<div class="modal-box">
    <div class="flex justify-center items-center">
        <div class="flex flex-col space-y-4 text-left text-secondary">
            <h2 class="text-xl font-zenmaru font-bold text-neutral text-center">ボタン説明</h2>
            <div><i class="ph-fill ph-heart fa-xl w-full h-3 mt-2 text-gray-400"></i><span class="text-sm">&ensp;&ensp;：ブックマーク</span></div>
            <div><i class="ph-fill ph-seal-check fa-xl w-full h-3 mt-2 text-gray-400"></i><span class="text-sm">&ensp;&ensp;：訪問済にする</span></div>
            <h2 class="text-xl font-zenmaru font-bold text-neutral text-center">マーク説明</h2>
            <div><div class="inline-flex bg-primary px-2 py-1 rounded-md shadow-md text-secondary font-semibold text-sm items-center font-zenmaru">里</div><span class="text-sm">&ensp;：里親募集中</span></div>
            <div><div class="inline-flex bg-primary px-2 py-1 rounded-md shadow-md text-secondary font-semibold text-sm items-center font-zenmaru">譲</div><span class="text-sm">&ensp;：譲渡会開催あり</span></div>
        </div>
    </div>
</div>
<form method="dialog" class="modal-backdrop">
    <button>close</button>
</form>
</dialog>