<% if user_signed_in? %>
    <div class='mx-auto'>
        <% if current_user.visited?(spot) %>
            <%= render 'unvisited', { spot: spot } %>
        <% else %>
            <%= render 'visited', { spot: spot } %>
        <% end %>
    </div>
<% else %>
    <div class='mx-auto'>
        <button data-action="click->login-modal#openModal" class= "inline-flex flex-col items-center justify-center rounded-full group">
            <i class="ph-fill ph-seal-check fa-xl w-full h-3 mt-2 text-gray-400"></i>
        <span class="text-[9px] text-secondary dark:text-gray-400 group-hover:text-neutral"><%= spot.visits.count %></span>
        </button>
    </div>
<% end %>