<nav class="md:hidden w-full h-12">
    <div class="navbar bg-primary text-secondary border-b border-primary-hover">
        <div class="flex-1 items-center">
          <%= link_to :back, data: { turbo: false } do %>
              <i class="ph-light ph-caret-left fa-2xl text-secondary group-hover:text-neutral" aria-hidden="true"></i>
          <% end %>
        </div>
    </div>
</nav>
<div class="w-full mx-auto p-8 mt-12">
    <% if @visited_spots.present? %>
        <h2 class="text-xl font-zenmaru font-bold text-neutral">訪問済み一覧</h2>
        <div class="md:grid md:grid-cols-3 md:gap-4">
            <% @visited_spots.each do |spot| %>
                <%= render 'spots/spot', spot: spot.spot %>
            <% end %>
        </div>
    <% else %>
        <h2 class="text-xl font-zenmaru font-bold text-neutral">訪問済み一覧</h2>
        <div class="mx-auto flex w-1/2 flex-col items-center gap-2.5 justify-center w-3/5">
            <%= image_tag("936.png", class: "h-full md:h-64 md:w-56 flex items-center justify-center") %>
            <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral"> <i class="ph ph-empty fa-lg"></i>  まだお気に入りがありません</h3>
            <p class="text-sm flex items-center justify-center w-full text-secondary">訪問済みスタンプを集めてランクアップを目指そう！</p>
            <%= link_to "#", class: "block w-full" do %>
                <button class="bg-accent text-white px-3 py-2 rounded-full flex mx-auto items-center justify-center w-full md:w-1/2">
                    <p><i class="ph ph-magnifying-glass fa-lg"></i> 猫スポットを探す</p>
                </button>
            <% end %>
        </div>
    <% end %>
</div>