<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<button class="bg-secondary hover:bg-gray-800 text-white rounded px-4 py-2">tailwind</button>

<button class="btn bg-primary">daisyUI</button>