<div class="footer footer-center p-10 bg-primary text-secondary rounded items-end w-screen">
    <nav class="grid grid-flow-col gap-4">
        <%= link_to '利用規約', terms_of_use_path %>
        <%= link_to 'プライバシー・ポリシー', privacy_policy_path %>
        <%= link_to 'お問い合わせ', 'https://twitter.com/819Chapchon', target: '_blank', rel: 'noopener noreferrer' %>
    </nav>
    <aside>
        <p>Copyright © 2024</p>
    </aside>
</div>