<% if controller_name == 'static_pages' && action_name == 'index' %>
  <!-- TOPページではフッターが常に表示される -->
  <%= render "shared/footer_contents" %>
<% elsif !(controller_name == 'reviews' && action_name == 'search') && !(controller_name == 'spots' && action_name == 'search') %>
  <!-- reviews/search と spots/search 以外では -->
  <% unless controller_name == 'spots' && action_name == 'map' %>
    <!-- PC画面ではspots/map以外でフッターが表示される -->
    <div class="<%= 'hidden md:block' %>">
      <%= render "shared/footer_contents" %>
    </div>
  <% end %>
<% end %>
