<div class="hidden md:block">
    <div class="navbar bg-primary text-primary ">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">NekoSpot</a>
    </div>
    <div class="flex-none">
        <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
        <button type="button" class="inline-flex flex-col h-full items-center justify-center px-5 hover:bg-gray-50 group">
            <i class="ph-bold ph-magnifying-glass w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">検索</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group">
            <i class="ph-bold ph-list-dashes w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">一覧</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group">
            <i class="ph-fill ph-heart w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">お気に入り</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group">
            <i class="ph-fill ph-user w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">マイページ</span>
        </button>
        <%= link_to 'ログアウト', destroy_user_session_path, class: "inline-block rounded-full bg-green-300 px-8 py-3 text-center text-sm font-semibold text-neutral outline-none ring-indigo-300 transition duration-100 hover:bg-primary focus-visible:ring active:bg-indigo-700 sm:w-1/2 text-base md:w-1/2", data: { turbo_method: :delete } %>
        </div>
    </div>
    </div>
    </div>


<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-primary border-t border-secondary md:hidden">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">
        <button type="button" class="inline-flex flex-col items-center justify-center px-4 hover:bg-gray-50 group">
        <i class="ph-bold ph-magnifying-glass w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">検索</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-4 hover:bg-bg-gray-50 group">
        <i class="ph-bold ph-list-dashes w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary group-hover:text-neutral">一覧</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-4 hover:bg-gray-50 group">
        <i class="ph-bold ph-plus w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary group-hover:text-neutral">投稿する</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-3 hover:bg-gray-50 group">
        <i class="ph-fill ph-heart w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">お気に入り</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-4 hover:bg-gray-50 group">
        <i class="ph-fill ph-user w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">Myページ</span>
        </button>
    </div>
</div>