
<form class="max-w-md mx-auto w-11/12 pt-6">   
    <label for="" class="mb-2 text-sm font-medium text-secondary sr-only dark:text-white">検索</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <i class="ph ph-magnifying-glass text-secondary"></i>
        </div>
        <input id="address" type="textbox" value="" class="block w-full p-4 ps-10 text-sm text-secondary border border-secondary rounded-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required />
        <button type="button" value="検索" onclick="codeAddress()" class="text-white absolute end-2.5 bottom-2.5 bg-accent hover:bg-accent-hover focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">検索</button>
    </div>
</form>
