<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-primary border-t border-secondary md:hidden" data-controller="modal login-modal">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">
        <div class="inline-flex flex-col items-center justify-center text-secondary col-span-1">
            <%= link_to spots_path, data: { turbo: false } do %>
              <button class="inline-flex items-center justify-start py-2 group md:hidden border-white rounded-md text-white bg-primary text-center border-secondary z-20">
                <i class="ph-light ph-caret-left fa-xl text-secondary group-hover:text-neutral" aria-hidden="true"></i>
                <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">戻る</span>
              </button>
            <% end %>
        </div>
        <% if user_signed_in? %>
        <%= link_to new_spot_review_path(@spot), class: "btn text-white text-[16px] drop-shadow-md my-2 inline-flex flex-col col-span-3 items-center justify-center px-4 rounded-md bg-accent hover:accent-hover hover:shadow-lg", data: { turbo_frame: 'review_modal' } do %>
          <p><i class="ph ph-chat-circle-dots fa-lg"></i> 口コミを投稿する</p>
        <% end %>
        <% else %>
          <button data-action="click->login-modal#openModal" class="btn text-white text-[16px] drop-shadow-md my-2 inline-flex flex-col col-span-3 items-center justify-center px-4 rounded-md bg-accent hover:accent-hover hover:shadow-lg" >
          <p><i class="ph ph-chat-circle-dots fa-lg"></i> 口コミを投稿する</p>
        </button>
        <% end %>
        <div class="inline-flex flex-col items-center justify-center text-secondary pl-1 col-span-1">
        <%= render 'bookmark_buttons', { spot: @spot } %>
        </div>
    </div>
    <%= render 'shared/login_modal' %>
</div>