<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="text-sm bg-secondary text-white px-2 py-1.5 rounded flex items-center justify-center"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "text-sm bg-white px-2 py-1.5 rounded hover:bg-secondary text-secondary hover:text-white border font-light" %>
<% end %>
