@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .default {
        background: none;
        color: white;
        border-color: white;
    }
    .white {
        background: none;
        color: #837176;
        border-color: #837176;
    }

    .gold-border {
            display: inline-block;
            width: 200px;
            aspect-ratio: 1 / 1;
            position: relative;
            
            &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50%;
            border: 5px solid transparent;
            background: linear-gradient(#fefce8, #facc15, rgba(251, 253, 191, 1)) border-box;
            
            mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
            mask-clip: padding-box, border-box;
            mask-composite: exclude;

            -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
            -webkit-mask-clip: padding-box, border-box;
            -webkit-mask-composite: destination-out;    
        }
    }

    .silver-border {
        display: inline-block;
        width: 200px;
        aspect-ratio: 1 / 1;
        position: relative;
        
        &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        border: 5px solid transparent;
        background: linear-gradient(#fafafa, #737373, #fafafa) border-box;
        
        mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
        mask-clip: padding-box, border-box;
        mask-composite: exclude;

        -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
        -webkit-mask-clip: padding-box, border-box;
        -webkit-mask-composite: destination-out;    
        }
    }

    .bronze-border {
        display: inline-block;
        width: 200px;
        aspect-ratio: 1 / 1;
        position: relative;
        
        &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        border: 5px solid transparent;
        background: linear-gradient(#fed7aa, #c2410c, #fed7aa) border-box;
        
        mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
        mask-clip: padding-box, border-box;
        mask-composite: exclude;

        -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
        -webkit-mask-clip: padding-box, border-box;
        -webkit-mask-composite: destination-out;    
        }
    }

    .beginner-border {
        border: none;
    }

    .visually-hidden {
        /* コンテンツの流れから切り離す */
        position: absolute;
        /* 誤ったコードに対処するための回避策 */
        white-space: nowrap;
        /* 可能な限り文字サイズを小さくするための処理
         * (スクリーンリーダー中には height と width が 0 のものを無視するため)
         */
        width: 1px;
        height: 1px;
        /* オーバーフローしているコンテンツを隠す */
        overflow: hidden;
        /* 要素サイズを変更しうるプロパティのリセット */
        border: 0;
        padding: 0;
        /* 要素のどの部分が表示されるかを定義するもの */
        /* 古いブラウザでは使用できない */
        clip: rect(0 0 0 0);
        /* 最近のブラウザ用
         * コンテンツを非表示にする設定  */
        clip-path: inset(50%); 
        /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
         * それに加えていくつか問題もあるそうです 
         * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
         */
        margin: -1px;
      }
}
