<%= link_to helpfuls_path(review_id: review.id), id: "helpful-button-for-review-#{review.id}", data: { turbo_method: :post }, class: "w-32 bg-primary text-secondary text-sm px-2 drop-shadow-md hover:shadow-none py-2 rounded-lg flex mx-auto items-center justify-center" do %>
    <p><i class="ph ph-fill ph-hand-heart fa-lg"></i> 参考になった</p>
<% end %>