<% if user_signed_in? %>
    <div class='mx-auto'>
        <% if current_user.helpful?(review) %>
            <%= render 'reviews/unhelpful', { review: review } %>
        <% else %>
            <%= render 'reviews/helpful', { review: review } %>
        <% end %>
    </div>
<% else %>
<div class='mx-auto'>
    <button data-action="click->login-modal#openModal" class="bg-primary text-secondary text-sm px-3 drop-shadow-md py-2 rounded-lg flex mx-auto items-center justify-center">
        <p><i class="ph ph-fill ph-hand-heart fa-lg"></i> 参考になった</p>
    </button>
    <% if review.helpfuls.present? %>
        <p class="text-[10px] text-secondary dark:text-gray-400 group-hover:text-neutral">この口コミは<%= review.helpfuls.count %>人の参考になりました</p>
    <% end %>
    <%= render 'shared/login_modal' %>
</div>
<% end %>