<% if flash.any? %>
  <div id="flash">
<% flash.each do |message_type, message| %>
    <div class="<%= flash_background_color(message_type) %>">
      <i class="ph-fill ph-paw-print"></i> <%= message %>
    </div>
<% end %>
</div>
<% end %>